/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
p{
	text-align: center;
	font-size: 30px;
}
body 
{

	width: 750px;
	margin: 0 auto;
	border: 2px solid black;
}

table 
{   align-items: center;
	border-collapse: collapse;
	border: 1px solid black;
	margin:auto;
	
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right 
{
	text-align: right;
	background-color : yellow;
	
}
.left
{
	
	background-color : white;
	font-weight: bold;
}

tbody tr:nth-child(even) td 
{
	background-color: yellow;
}
